# Copy file to /etc/systemd/system/zercurity.service
# systemctl daemon-reload
# systemctl enable zercurity
# systemctl start zercurity
# systemctl stop zercurity
# systemctl restart zercurity
[Unit]
Description=Zercurity service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/var/lib/zercurity
EnvironmentFile=/var/lib/zercurity/production.env
User=root

# Remove old containers, images and volumes
ExecStartPre=/usr/local/bin/docker-compose --env-file /var/lib/zercurity/production.env down -v
ExecStartPre=/usr/local/bin/docker-compose --env-file /var/lib/zercurity/production.env rm -fv
ExecStartPre=-/bin/bash -c 'docker volume rm $(docker volume ls -qf "name=zercurity")'
ExecStartPre=-/bin/bash -c 'docker network rm $(docker network ls -qf "name=zercurity")'
ExecStartPre=-/bin/bash -c 'docker rm $(docker ps -aqf "name=zercurity")'

# Compose up
ExecStart=/usr/local/bin/docker-compose --env-file /var/lib/zercurity/production.env up

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose --env-file /var/lib/zercurity/production.env down -v

[Install]
WantedBy=multi-user.target
